<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<settings>-->
        <!--<setting name="cacheEnabled" value="true" />&lt;!&ndash; 二级缓存开启 &ndash;&gt;-->
    <!--</settings>-->
    <!--控制台打印sql语句配置settings-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--<property name="dialect" value="SqlServer"/>-->
        </plugin>
    </plugins>
</configuration>