<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kindstar.hst.cw.mapper.SaleinfoMapper">
    <sql id="findSql">
        <if test='startdate != null and startdate neq "" and stopdate != null and stopdate neq ""'>
            and DATE_FORMAT(NoteTime, '%Y-%m-%d') BETWEEN #{startdate} and #{stopdate}
        </if>
        <if test='areaval != null and areaval neq ""'>
            and AreaName=#{areaval}
        </if>
        <if test='isSubmit != null'>
            and isSubmit=#{isSubmit}
        </if>
        <if test='hospitalval != null and hospitalval neq ""'>
            and HospitalizationName=#{hospitalval}
        </if>
    </sql>

    <!--存在就更新REPLACE INTO 表名(字段1, 字段2, ...) VALUES(值1, 值2, ...), (值1, 值2, ...);-->
    <!--存在就忽略INSERT IGNORE 表名-->
    <insert id="insertLisInfoAll" parameterType="com.kindstar.hst.cw.pojo.SaveCloudVo">
        INSERT IGNORE INTO t_saleinfo
        (
            jzbbxh ,areaName ,areaName1,sellUser ,departmentName ,realName ,age ,gender ,hospitalization , barCode,
            customLevelCode ,hospitalizationName ,signing,billDoctor ,combinationItemName ,noteTime ,squadName ,productLine,sampleType  ,
            acceptanceNO,price ,logisticsUser ,sampleStatus,discount,isSubmit
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.jzbbxh},#{item.areaName},#{item.areaName1},#{item.sellUser},#{item.departmentName},#{item.realName},#{item.age},
                #{item.gender},#{item.hospitalization},#{item.barCode},#{item.customLevelCode},#{item.hospitalizationName},#{item.signing},
                #{item.billDoctor},#{item.combinationItemName},#{item.noteTime},#{item.squadName},#{item.productLine},#{item.sampleType},
                #{item.acceptanceNO},#{item.price},#{item.logisticsUser},#{item.sampleStatus},#{item.discount},#{isSubmit}
            )
        </foreach>
    </insert>

    <select id="findSaleinfoAll" parameterType="com.kindstar.hst.lis.common.pojo.SubmitDataVo" resultType="com.kindstar.hst.cw.pojo.SaleInfo">
       select * from t_saleinfo
        <where>
            <include refid="findSql"/>
        </where>
    </select>

    <delete id="deleteSaleinfo" parameterType="java.lang.String">
        DELETE FROM t_saleinfo WHERE saleid=#{saleid}
    </delete>

    <!--销售新增字段保存-->
    <update id="updateSaleInfoData" parameterType="com.kindstar.hst.cw.pojo.SaveCloudVo">

        REPLACE INTO t_saleinfo
        (
        saleid,jzbbxh ,areaName ,areaName1,sellUser ,departmentName ,realName ,age ,gender ,hospitalization , barCode,
        customLevelCode ,hospitalizationName ,signing,billDoctor ,combinationItemName ,noteTime ,squadName ,productLine,sampleType  ,
        acceptanceNO,price ,logisticsUser ,sampleStatus,discount,reportTime,realPrice,invoiceTime,isSubmit
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.saleid},#{item.jzbbxh},#{item.areaName},#{item.areaName1},#{item.sellUser},#{item.departmentName},#{item.realName},#{item.age},
                #{item.gender},#{item.hospitalization},#{item.barCode},#{item.customLevelCode},#{item.hospitalizationName},#{item.signing},
                #{item.billDoctor},#{item.combinationItemName},#{item.noteTime},#{item.squadName},#{item.productLine},#{item.sampleType},
                #{item.acceptanceNO},#{item.price},#{item.logisticsUser},#{item.sampleStatus},#{item.discount},#{item.reportTime},
                #{item.realPrice},#{item.invoiceTime},#{item.isSubmit}
            )
        </foreach>

    </update>

    <!--根据销售表id来操作（暂时没有用到），销售数据提交到财务,也就是修改状态-->
    <update id="updateSubmitValue" parameterType="com.kindstar.hst.cw.pojo.SaveCloudVo">
        UPDATE t_saleinfo SET isSubmit=#{isSubmit} WHERE saleid IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
               #{item.saleid}
       </foreach>
    </update>

    <!--根据时间和其它条件修改销售数据提交到财务isSubmit状态-->
    <update id="updateSubmitValueWhere" parameterType="com.kindstar.hst.lis.common.pojo.SubmitDataVo">
        UPDATE t_saleinfo SET isSubmit=${editIsSubmit} ,submitTime=NOW()
        <where>
            <include refid="findSql"/>
        </where>
    </update>
</mapper>

